[submodule "package/yasnippet"]
	path = package/yasnippet
	url = git://github.com/emacsmirror/yasnippet.git
[submodule "package/smart-tab"]
	path = package/smart-tab
	url = git://github.com/sroccaserra/emacs.git
[submodule "package/auto-complete"]
	path = package/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "package/magit"]
	path = package/magit
	url = git://github.com/philjackson/magit.git
