[submodule "package/yasnippet"]
	path = package/yasnippet
	url = git://github.com/emacsmirror/yasnippet.git
[submodule "package/smart-tab"]
	path = package/smart-tab
	url = git://github.com/sroccaserra/emacs.git
